# Ignorar archivos dentro de data, pero mantener estructura de carpetas con .gitkeep
data/**
!data/**/
!data/**/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
.venv/
env/
.env

# Jupyter notebooks
.ipynb_checkpoints

# Kedro / Logs
logs/
info.log
errors.log
